# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout

# See https://gist.github.com/adamgit/3786883 for discussion of alternatives
xcuserdata

#CocoaPods
Pods

#Editors
*.swo
*.swp
~*

# Build products
build/
*.o
*.LinkFileList
*.hmap

# Automatic backup files
*~.nib/
*~
*.dat
*.dep

# User settings files to be overridden
# cp the {filename}.template file to {filename} for xcode to build
CivicAPIKey.plist
settings.plist
